
.LegendPieChart {
   
    text-align: left !important
  }

  .PieChart {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-right: 3% !important;
    margin-left: 3% !important;
    text-align: left !important
  }
  