

.DiagramNodeList { 
      width: 90px;
      height:auto;
      background: #607493; 
      border-radius: 5px;
      padding: 5px;
      font-size: 10px;
      text-align: center;
      color: whitesmoke 
    }

.DiagramNodeList  hr { 
      margin:5px 0px;
      font-size: 12px;
      text-align: center;     
      }
  


