

.diagramNodeSide {
  border:.07rem solid #8795a1;
  width: 100px;
  text-align:center;

  padding:0px;
  height:30px;
  background: #dae1e7; 
  border-radius: 5px;
  box-shadow:0 0.07rem 0.2rem 0 rgb(0 0 0 / 10%), 0 0.07rem 0.125rem 0 rgb(0 0 0 / 6%);
  transition: box-shadow .25s ease-in-out,border .3s ease-out;
  color: #606f7b;
  font-weight: 600;
  transform: rotate(-90deg) 
  

}